/*  your css code here. If applicable */
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
#line {
	background-color:black;
	width:200px;
	height:2px;
	transition: 0.3s;
	animation: rotate 3s linear infinite;
	transform-origin: center;
}

@keyframes rotate {
	100% {
		transform: rotateZ(360deg)
	}
}